<%= form_for(@trick) do |f| %>
  <% if @trick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trick.errors.count, "error") %> prohibited this trick from being saved:</h2>

      <ul>
      <% @trick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :problem %><br />
    <%= f.text_area :problem %>
  </div>
  <div class="field">
    <%= f.label :solution %><br />
    <%= f.text_area :solution %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :solved_by %><br />
    <%= f.text_field :solved_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
